.hema
{
    background-image: url("https://img.freepik.com/premium-photo/mother-child-each-others-arms-baby-mothers-arms_987366-36687.jpg?w=740");
    height: 200vh;
    width: 200vh;
    text-align: center;
    background-color: aqua;
    background-size: cover ;
    
}