.container
{
    background-color: red;
    background-image: url("https://www.shutterstock.com/shutterstock/photos/1682870239/display_1500/stock-photo-mahathma-gandhi-the-father-of-a-nation-1682870239.jpg");
    background-size: cover;
    text-align: center;
    width: 200vw;
    height: 200vw;
}