.charan
{
    background-color: blueviolet;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcAMBUmnBovAnuo2ZQNq8uX3O3inspjaf-Kodrnh6RZUn0kHuP");
    height:200vw ;
    width: 200vw;
    text-align: center;
    background-size: cover;
}
