.charan{
    background-image: url("https://img.freepik.com/free-vector/happy-national-youth-day-red-orange-beige-background-social-media-design-banner-free-vector_1340-22221.jpg?ga=GA1.1.1324713452.1721837493&semt=ais_user");
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;



}