.vijay
{
    background-image: url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_320,q_50/lsci/db/PICTURES/CMS/316500/316584.png");
    height: 100vw;
    width: 100vw;
    text-align: center;
    background-color: rgb(240, 184, 184);
    background-size: cover;

}