.charan{
    background-image: url("https://www.freepik.com/premium-ai-image/jawaharlal-nehru-portrait_368480045.htm#fromView=search&page=1&position=8&uuid=135730bd-634c-46a9-839a-4848ea6eb889&query=abdulkalam+photos");
    height: 100vw;
    width: 100vh;
    background-size: cover;
    text-align: center;

}